[Unit]
Description=AUTOTRADER MFE - Worker Timer (cada 5 min)

[Timer]
OnBootSec=30
OnUnitActiveSec=300
Persistent=true

[Install]
WantedBy=timers.target
